/* $Id$ */
body {
  font: 8pt verdana;
  background: #f5f5f5;
  color: #444;
  margin: 0.6em 0.2em;
  letter-spacing: -0.05em;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #f60;
}
img {
  border: 0;
}
form {
  margin: 0.5em 0 0 0;
}
input {
  padding: 0 0.1em;
  margin: 0 0.1em 0 0.2em;
  font-size: 1em;
  letter-spacing: 0;
}
select {
  font-size: 0.9em;
  padding: 0;
  margin: 0;
  height: 1.8em;
  letter-spacing: 0;
}
table {
  font-size: 1em;
  width: 96%;
  border-collapse: collapse;
}
th.date {
  padding-right: 1.2em;
}
th.size{
  padding-right: 0.8em;
}
div.forms {
  border-top: 2px solid #000;
}
#headerdiv {
  border-bottom: 2px solid #000;
}
#bodydiv {/*File list area*/
  height: 115px;
  overflow: auto;
}
#bodydiv td{
  border-bottom: 1px solid #ddd;
}
#resize-bar {
  position: relative;
  font-size: 1px;
  height: 3px;
  background: #000;
}
#resize-bar-in {
  position: absolute;
  font: bold 14px verdana;
  color: #f90;
  display: none;
}
#relative-div {
  position: relative;
  height: 0px;
}
#info-div {
  position: absolute;
  top: 2px;
  left: 2px;
}
#imagepreview {/*Image preview area*/
  height: 270px;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
}
#filterspan {
  position: absolute;
  top: 0.2em;
  left: 8em;
  color: #36c;
}
#dirform {
  display: inline;
}
.rover {
  background: #eee;
  cursor: pointer;
}
.rsel {
  background: #9c9;
  color: #000;
}
.messages {
  color: #36c;
  padding: 0.2em;
  font-weight: bold;
  text-align: center;
}
.filename {
  width: 40%;
  text-align: left;
}
.size{
  width: 14%;
  text-align: right;
}
.dimensions {
  width: 16%;
  text-align: right;
}
.date {
  width: 15%;
  text-align: right;
}
.operations {
  width: 15%;
  text-align: right;
}
.error, .sorted {
  color: #f60;
}