/* $Id$ */
body {
  font: 8pt verdana;
  background: #f5f5f5;
  color: #444;
  margin: 4px 2px;
  letter-spacing: -0.05em;
  width: 555px;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  color: #f60;
}
img {
  border: 0;
}
div {
  width: 99%;
}
form {
  margin: 0.2em 0em;
}
table {
  font-size: 1em;
  width: 525px;
  border-collapse: collapse;
}
#bodydiv {/*File list area*/
  height: 110px;
  overflow: auto;
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}
#bodydiv td{
  border-bottom: 1px solid #ddd;
}
#imagepreview {/*Image preview area*/
  height: 240px;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
  border-bottom: 2px solid #000;
  margin-bottom: 0.5em;
}
.rover {
  background: #eee;
  cursor: pointer;
}
.rsel {
  background: #9c9;
  color: #000;
}
.messages {
  color: #36c;
  padding: 0.2em;
  font-weight: bold;
  text-align: center;
}
.error{
  color: #f60;
}
.nolimit {
  color: #f60;
}
.filename {
  width: 40%;
  text-align: left;
}
.size{
  width: 14%;
  text-align: right;
}
.dimensions {
  width: 16%;
  text-align: right;
}
.date {
  width: 15%;
  text-align: right;
}
.operations {
  width: 15%;
  text-align: right;
}
